<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_work">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".zs_6"></activity>
        <activity android:name=".zs_5" />
        <activity android:name=".zs_4" />
        <activity android:name=".zs_3" />
        <activity android:name=".zs_2" />
        <activity android:name=".zs_1" />
        <activity android:name=".ns_6" />
        <activity android:name=".ns_5" />
        <activity android:name=".ns_4" />
        <activity android:name=".ns_3" />
        <activity android:name=".ns_2" />
        <activity android:name=".ns_1" />
        <activity android:name=".ms_6" />
        <activity android:name=".ms_5" />
        <activity android:name=".ms_4" />
        <activity android:name=".ms_3" />
        <activity android:name=".ms_2" />
        <activity android:name=".ms_1" />
        <activity android:name=".ls_6" />
        <activity android:name=".ls_5" />
        <activity android:name=".ls_43" />
        <activity android:name=".ls_3" />
        <activity android:name=".ls_2" />
        <activity android:name=".ls_1" />
        <activity android:name=".ks_6" />
        <activity android:name=".ks_5" />
        <activity android:name=".ks_4" />
        <activity android:name=".ks_3" />
        <activity android:name=".ks_2" />
        <activity android:name=".ks_1" />
        <activity android:name=".js_6" />
        <activity android:name=".js_5" />
        <activity android:name=".js_4" />
        <activity android:name=".js_3" />
        <activity android:name=".js_2" />
        <activity android:name=".js_1" />
        <activity android:name=".is_6" />
        <activity android:name=".is_5" />
        <activity android:name=".is_4" />
        <activity android:name=".is_3" />
        <activity android:name=".is_2" />
        <activity android:name=".is_1" />
        <activity android:name=".hs_6" />
        <activity android:name=".hs_5" />
        <activity android:name=".hs_4" />
        <activity android:name=".hs_3" />
        <activity android:name=".hs_2" />
        <activity android:name=".hs_1" />
        <activity android:name=".gs_6" />
        <activity android:name=".gs_5" />
        <activity android:name=".gs_4" />
        <activity android:name=".gs_3" />
        <activity android:name=".gs_2" />
        <activity android:name=".gs_1" />
        <activity android:name=".fs_6" />
        <activity android:name=".fs_5" />
        <activity android:name=".fs_4" />
        <activity android:name=".fs_3" />
        <activity android:name=".fs_2" />
        <activity android:name=".fs_1" />
        <activity android:name=".es_6" />
        <activity android:name=".es_5" />
        <activity android:name=".es_4" />
        <activity android:name=".es_3" />
        <activity android:name=".es_2" />
        <activity android:name=".es_1" />
        <activity android:name=".ds_6" />
        <activity android:name=".ds_5" />
        <activity android:name=".ds_4" />
        <activity android:name=".ds_3" />
        <activity android:name=".ds_2" />
        <activity android:name=".ds_1" />
        <activity android:name=".cs_6" />
        <activity android:name=".cs_5" />
        <activity android:name=".cs_4" />
        <activity android:name=".cs_3" />
        <activity android:name=".cs_2" />
        <activity android:name=".cs_1" />
        <activity android:name=".bs_6" />
        <activity android:name=".bs_5" />
        <activity android:name=".bs_4" />
        <activity android:name=".bs_3" />
        <activity android:name=".bs_2" />
        <activity android:name=".bs_1" />
        <activity android:name=".as_6" />
        <activity android:name=".as_5" />
        <activity android:name=".as_4" />
        <activity android:name=".as_3" />
        <activity android:name=".as_2" />
        <activity android:name=".as_1" />
        <activity android:name=".ths_6" />
        <activity android:name=".ths_5" />
        <activity android:name=".ths_4" />
        <activity android:name=".ths_3" />
        <activity android:name=".ths_2" />
        <activity android:name=".ths_1" />
        <activity android:name=".the_6" />
        <activity android:name=".the_5" />
        <activity android:name=".the_4" />
        <activity android:name=".the_3" />
        <activity android:name=".the_2" />
        <activity android:name=".the_1" />
        <activity android:name=".sec_6" />
        <activity android:name=".sec_5" />
        <activity android:name=".sec_4" />
        <activity android:name=".sec_3" />
        <activity android:name=".sec_2" />
        <activity android:name=".sec_1" />
        <activity android:name=".pharmacist" />
        <activity android:name=".doctor" />
        <activity android:name=".m3_5" />
        <activity android:name=".m3_4" />
        <activity android:name=".m3_3" />
        <activity android:name=".m3_2" />
        <activity android:name=".m3_1" />
        <activity android:name=".n9ay7" />
        <activity android:name=".phone" />
        <activity android:name=".qr" />
        <activity android:name=".siklo1" />
        <activity android:name=".details" />
        <activity android:name=".midicine" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>